.errorMessage {
    font-size: 30px; /* Adjust the size to your preference */
    text-align: left; /* Optional: center the text */
    color: white; /* Optional: adjust the color */
    margin-bottom: 30px;
    margin-top: 30px;
}