body {
    background-color: #3C3C3E;
    /* background: linear-gradient(90deg, #004e92, #2a73cc); */
    /* background: 'white'; */
    margin: 0; /* To remove default margin that browsers apply to body */
    font-family: sans-serif;
}